<h1>All Customers sorted by name</h1>
<%= render partial: 'common/header', locals: {display_alpha: true, display_index: false, display_missing_email: false} %>
<%= render partial: 'customer', collection: @customers_by_name %>
