<h1>All Customers missing email address</h1>
<%= render partial: 'common/header', locals: {display_missing_email: true, display_index: false, display_alpha: false} %>
<%= render partial: 'customer', collection: @customers_missing_email %>
